:root {
    --header-height: 64px;
}
:root {
    --breakpoint-tablet: 600px;
    --breakpoint-laptop: 1024px;
    --breakpoint-desktop: 1440px;
}
html, body {
    font-family: "Google Sans Text", "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .1px;
    color: #3c4043;
    color: #3c4043;
    margin: 0;
    padding: 0;
    scroll-padding-top: var(--header-height);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html *, body * {
    box-sizing: border-box;
}

/* section Navigator */

.header {
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12), inset 0 -1px 0 0 #dadce0;
    left: 0;
    position: fixed;
    top: 0;
    transition: transform .3s ease;
    width: 100%;
    z-index: 90;
}
.header__top {
    border-bottom: 1px solid #dadce0;
    position: relative;
    z-index: 3;
}
.header__top .header__container {
    justify-content: space-between;
}
.header__lockup {
    display: flex;
    align-items: center;
    grid-gap: 5px;
    background: #fff;
    position: relative;
    z-index: 2;
}
.header__menu-button {
    background: transparent;
    border: 0;
    cursor: pointer;
    line-height: 0;
    padding: 10px;
}
img {
    max-width: 100%;
    height: auto;
}
.header__lockup .link {
    display: flex;
    align-items: center;
    color: #202124;
    font-family: "Google Sans", "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    color: #5f6368;
    font-size: 22px !important;
    line-height: 28px !important;
    margin-left: 9px;
    grid-gap: 5px;
}
a {
    color: #1a73e8;
    font-weight: 500;
    text-decoration: none;
    transition: color .3s ease;
}

.header__nav {
    color: #202124;
    font-family: "Google Sans", "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .1px;
    line-height: 24px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    margin-left: 20px;
}
.header__nav--desktop {
    display: flex;
    margin-left: min(3.3333333333vw, 48px);
}
.header__nav__item {
    display: flex;
    align-items: center;
    border-top: 2px solid #fff;
    border-bottom: 1px solid #dadce0;
    height: 100%;
}
.header__nav__item>a, .header__nav__item>div[tabindex] {
    display: flex;
    align-items: center;
    color: #5f6368;
    height: 100%;
    white-space: nowrap;
}
.header__nav__item a {
    cursor: pointer;
}
.header__container {
    margin: 0 auto;
    max-width: 2560px !important;
    padding: 0 15px 0 0 !important;
    display: flex;
    align-items: center;
    grid-gap: 0 20px;
    height: var(--header-height);
}
.header__nav__item {
    display: flex;
    align-items: center;
    border-top: 2px solid #fff;
    border-bottom: 1px solid #dadce0;
    height: 100%;
}
.header__aside {
    display: flex;
    align-items: center;
    z-index: 1;
    grid-gap: 20px;
}
.header__aside__buttons {
    display: flex;
    -moz-column-gap: 16px;
    column-gap: 16px;
}

.button {
    --background-color: #1a73e8;
    --background-color-hover: #185abc;
    --background-color-focus: #185abc;
    --background-color-active: #185abc;
    --background-color-disabled: #f8f9fa;
    --box-shadow: none;
    --box-shadow-hover: 0px 1px 2px rgba(60, 64, 67, 0.3), 0px 1px 4px rgba(60, 64, 67, 0.25);
    --box-shadow-focus: 0px 1px 2px rgba(60, 64, 67, 0.3), 0px 1px 4px rgba(60, 64, 67, 0.25);
    --box-shadow-focus-accessible: 0 0 0 4px #1a73e8;
    --box-shadow-active: 0px 1px 2px rgba(60, 64, 67, 0.3), 0px 1px 4px rgba(60, 64, 67, 0.25);
    --box-shadow-disabled: none;
    --color: #fff;
    --color-hover: #fff;
    --color-focus: #fff;
    --color-active: #fff;
    --color-disabled: #9aa0a6;
    color: #202124;
    font-family: "Google Sans", "Roboto", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 20px;
    align-items: center;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    background: var(--background-color);
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    color: var(--color);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    padding: 12px 24px;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    transition: background-color .2s, box-shadow .2s, color .2s;
}
.button--medium {
    --background-color: #fff;
    --background-color-hover: linear-gradient(0deg, rgba(26, 115, 232, 0.04), rgba(26, 115, 232, 0.04)), #fff;
    --background-color-focus: linear-gradient(0deg, rgba(26, 115, 232, 0.12), rgba(26, 115, 232, 0.12)), #fff;
    --background-color-active: linear-gradient(0deg, rgba(26, 115, 232, 0.1), rgba(26, 115, 232, 0.1)), #fff;
    --background-color-disabled: #f8f9fa;
    --box-shadow: 0 0 0 1px #dadce0;
    --box-shadow-hover: 0 0 0 1px #1a73e8;
    --box-shadow-focus: 0 0 0 1px #1a73e8;
    --box-shadow-focus-accessible: 0 0 0 2px #1a73e8;
    --box-shadow-active: 0 0 0 1px #1a73e8;
    --box-shadow-disabled: 0 0 0 1px #dadce0;
    --color: #1a73e8;
    --color-hover: #174ea6;
    --color-focus: #174ea6;
    --color-active: #174ea6;
    --color-disabled: #9aa0a6;
}

/* @media nav */


@media (min-width: 1024px) {
    html, body {
        font-family: "Google Sans Text", "Roboto", Arial, sans-serif;
        font-size: 18px;
        line-height: 28px;
        color: #3c4043;
    }
}
@media (min-width: 1440px) {
    .header__container {
        padding: 0 min(5vw, 72px);
        max-width: 1440px;
    }
}
@media (min-width: calc(768px)) {
    .header__menu-button {
        display: none;
    }
}
/* @media(max-width: calc(1303px - 1px)) {
    .header__nav--desktop {
        display:none
    }
} */
/* @media (min-width: 1303px) {
    .header__nav {
        display: none;
    }
} */
@media (min-width: calc(767px + 1px)) {
    .header__nav__item:not(last-child) {
        margin-right: min(3.3333333333vw, 48px);
    }
}
@media (min-width: calc(1303px + 1px)) {
    .header__nav__item {
        border-bottom: 1px solid #fff;
    }
}
@media(min-width: 1024px) {
    .header__nav__item summary {
        align-items:flex-start;
        padding-top: 18px
    }
}
