
svg {
  z-index: 100;
  position: absolute;
}

:root {
  --padding: 10vmin;
  --color-background: white ;
  --font-size-large: 4vw;
  --font-size-medium: 3vw;
  --font-size-normal: 1vw;
}



a {
  font-size: var(--font-size-large);
  display: inline-flex;
  justify-content: center;
  color:black;
  font-family: 'Oleo Script';
  z-index: 1000;
  position: absolute;
  left:46vw;
  top:85%;
  text-decoration: none;  
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 5px 20px rgba(0, 0, 0, 0.2);
  padding: 2px 2px 5px 5px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-top: 10px;
}

html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  font-family: "Libre Baskerville", serif;
  background-color: var(--color-background);
  font-weight: 400;
  font-size: var(--font-size-normal);
  overflow-x: hidden;
}

canvas {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.solid {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.wireframe {
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.content {
  position: relative;
  z-index: 1;
}
.content .trigger {
  position: absolute;
  top: 0;
  height: 100%;
}
.content .section {
  position: relative;
  padding: var(--padding);
  --pad2: calc(var(--padding) * 2);
  width: calc(100vw - var(--pad2));
  height: calc(100vh - var(--pad2));
  margin: 0 auto;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.content .section.dark {
  color: white;
  background-color: black;
}
.content .section.right {
  text-align: right;
  z-index: 100;
}


.content .blueprint .dark {
  background-color: transparent;
}
.content .ground-container {
  position: relative;
  overflow: hidden;
}
.content .ground-container .parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -100px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  transform-origin: top center;
}
.content .ground-container .ground {
  z-index: -2;
  background-image: url("https://assets.codepen.io/557388/background-reduced.jpg");
  background-size: cover;
	transform-origin: top center;
  filter: saturate(10%);
}
.content .ground-container .clouds {
  z-index: 1;
  background-image: url("https://assets.codepen.io/557388/clouds.png");
}
.content .ground-container .factory{
  z-index:-2;
  filter: saturate(10%);
  background-image: url("https://www.conspiracies.net/wp-content/uploads/2014/09/area51view.jpg");
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
	background-attachment: fixed;
  
}
.cloud-cover1{
  position: absolute;
  overflow: hidden;
  top: 32%;
  left: 1%;
  right: 0;
  bottom: 100px;
  background-repeat: no-repeat;
  background-size:150%;
  z-index: 2;
  background-image: url(https://mydaymaker.com/wp-content/uploads/2023/10/AdobeStock_563966226-1024x495.png);
  
}
.cloud-cover2{
  position: absolute;
  overflow: hidden;
  top: 32.5%;
  left: -40%;
  right: 40%;
  bottom: 100px;
  background-repeat: no-repeat;
  background-size:100%;
  z-index: 2;
  background-image: url(https://mydaymaker.com/wp-content/uploads/2023/10/AdobeStock_563966226-1024x495.png);
  
}
.cloud-cover3{
  position: absolute;
  overflow: hidden;
  top: 77%;
  left: 1%;
  right: 0;
  bottom: 100px;
  background-repeat: no-repeat;
  background-size:150%;
  z-index: 2;
  background-image: url(https://mydaymaker.com/wp-content/uploads/2023/10/AdobeStock_563966226-1024x495.png);
  
}
.cloud-cover4{
  position:absolute;
  overflow: hidden;
  top: 78%;
  left: -40%;
  right: 40%;
  bottom: 100px;
  background-repeat: no-repeat;
  background-size:100%;
  z-index: 2;
  background-image: url(https://mydaymaker.com/wp-content/uploads/2023/10/AdobeStock_563966226-1024x495.png);
  
}
.content .scroll-cta, .content .credits {
  position: absolute;
  bottom: var(--padding);
}
.content .scroll-cta {
  font-size: var(--font-size-medium);
  opacity: 0;
}
.content .sunset {
  z-index: 10;
  background: url("https://assets.codepen.io/557388/sunset-reduced.jpg") no-repeat top center;
  background-size: cover;
  transform-origin: top center;
  filter: saturate(10%);
}
.content h1, .content h2 {
  font-size: var(--font-size-large);
  margin: 0vmin 0 2vmin 0;
  font-weight: 700;
  display: inline;
  text-shadow: 4px #fff;
  font-family: 'Oleo Script';
  z-index: 11;
}
.content h3 {
  font-size: var(--font-size-medium);
  font-weight: 400;
  margin: 0;
}

.content .loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-medium);
}

.orange{
  background-color: #D96233 !important; 
  color: black !important;
}
.white{
  background-color: white !important;
  color: black !important;
}


.header {
  max-width: 100%;
  text-align: center;
  color: white;
}
.header h1{
  font-family: 'Oleo Script';
}
.header p{
  font-family: 'Oleo Script';
}

.btn-item{
  gap: 40px;
  max-width: 100%;
  display: flex;
  justify-content: center;

  
}
.btn{
  display: block;
  width: 180px;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Raleway';
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3;
  -webkit-property: box-shadow, transform;
}
.btn:hover, .btn:focus, .btn:active{
  box-shadow: 0 0 20px rgb(255, 255, 255);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#rotate-message {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  color: white;
  text-align: center;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#rotate-message p {
  margin: 0;
}

#content {
  display: block; /* Default content display */
  height: 100%;
}

@media only screen and (max-width: 800px) {
  :root {
    --font-size-large: 42px;
    --font-size-medium: 26px;
    --font-size-normal: 16px;
  }
  a {
    left: 43vw;
  }
}

@media only screen and (max-height: 500px) {
  :root {
    --font-size-large: 28px;
    --font-size-medium: 20px;
    --font-size-normal: 10px;
  }
}

@media only screen and  (max-width:1024px) and (min-height: 1000px){
  .cloud-cover1{
    top:34%;
  }
  .cloud-cover2{
    top:35%;
  }
  .cloud-cover3 {
    top:80%;
  } 
  .cloud-cover4{
    top:80%;
  } 
}