@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
svg {
  z-index: 100;
}

:root {
  --padding: 10vmin;
  --color-background: #D0CBC7;
  --font-size-large: 8vw;
  --font-size-medium: 4vw;
  --font-size-normal: 2vw;
}
@media only screen and (min-width: 800px) {
  :root {
    --font-size-large: 64px;
    --font-size-medium: 32px;
    --font-size-normal: 16px;
  }
}
@media only screen and (max-width: 500px) {
  :root {
    --font-size-large: 40px;
    --font-size-medium: 20px;
    --font-size-normal: 14px;
  }
}

a {
  color: white;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-top: 10px;
}

html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  font-family: "Libre Baskerville", serif;
  background-color: var(--color-background);
  font-weight: 400;
  font-size: var(--font-size-normal);
  overflow-x: hidden;
}

canvas {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.solid {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.wireframe {
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.content {
  position: relative;
  z-index: 1;
}
.content .trigger {
  position: absolute;
  top: 0;
  height: 100%;
}
.content .section {
  position: relative;
  padding: var(--padding);
  --pad2: calc(var(--padding) * 2);
  width: calc(100vw - var(--pad2));
  height: calc(100vh - var(--pad2));
  margin: 0 auto;
  z-index: 2;
}
.content .section.dark {
  color: white;
  background-color: black;
}
.content .section.right {
  text-align: right;
}

.content .blueprint svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  stroke: white;
  pointer-events: none;
  visibility: hidden;
}
.content .blueprint .dark {
  background-color: transparent;
}
.content .ground-container {
  position: relative;
  overflow: hidden;
}
.content .ground-container .parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -100px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  transform-origin: top center;
}
.content .ground-container .ground {
  z-index: 1;
  background-image: url("https://assets.codepen.io/557388/background-reduced.jpg");
}
.content .ground-container .clouds {
  z-index: 2;
  background-image: url("https://assets.codepen.io/557388/clouds.png");
}
.content .scroll-cta, .content .credits {
  position: absolute;
  bottom: var(--padding);
}
.content .scroll-cta {
  font-size: var(--font-size-medium);
  opacity: 0;
}
.content .sunset {
  background: url("https://assets.codepen.io/557388/sunset-reduced.jpg") no-repeat top center;
  background-size: cover;
  transform-origin: top center;
}
.content h1, .content h2 {
  font-size: var(--font-size-large);
  margin: 0vmin 0 2vmin 0;
  font-weight: 700;
  display: inline;
}
.content h3 {
  font-size: var(--font-size-medium);
  font-weight: 400;
  margin: 0;
}
.content .end h2 {
  margin-bottom: 50vh;
}
.content .loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-medium);
}

@-webkit-keyframes planet {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: -1000px;
  }
}
@keyframes planet {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: -1000px;
  }
}

.frame1 .solar_systm .planet, body .frame1 input[type=radio][name=planet]::after, body .frame1 .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
}

 body .frame1 .solar_systm .planet.earth .trajectory.m {
  border: 2px dashed white;
  position: absolute;
  border-radius: 3400px;
  background: none;
  z-index: -2;
}

body .frame1 .solar_systm .planet {
  height: 1200px;
  width: 1200px;
  border-radius: 600px;
  background: red;
  transition: transform 2.8s 0.23s cubic-bezier(0.33, 0, 0, 1), opacity 2s 0.8s, box-shadow 0s 0s;
  background-size: 1140px 910px ;
  top: auto;
  bottom: 6650px;
}

body .frame1 .solar {
  position: absolute;
  transform: rotatex(-20deg);
  perspective: 800px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

body .frame1 {
  overflow: hidden;
  background: black;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}
body .frame1 .overlay {
  border-bottom: 1020px solid black;
  width: 1800px;
  height: 620px;
  top: auto;
  transform: none;
  top: -240px;
  left: -303px;
  opacity: 0.5;
  border-radius: 100%;
  z-index: 0;
  box-shadow: 0px -190px 215px 110px black inset;
}
body .frame1 .solar_systm .planet.earth {
  background: url(https://img00.deviantart.net/04ef/i/2009/114/3/e/new_earth_texture_map_by_lightondesigns.jpg);
  box-shadow: 0 -590px 150px black inset, 0 0px 130px 40px #8cbaff inset, 0 0px 23px 4px #8cbaff inset, 0 -10px 130px #7894a9;
  transform-style: preserve-3d;
  transform: translateZ(0px) translateY(0) rotatex(4deg) scaleX(0.96);
  opacity: 2;
  -webkit-animation: planet 60s 3.9s infinite linear;
  animation: planet 60s 3.9s infinite linear;
  clip-path: inset(-120% -100% 73.43% -100%);
}

.div {
  background-color: black;
  padding-left: 0px;
}
.div-2 {
  gap: 20px;
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 23%;
  margin-left: 0px;
}
.div-3 {
  justify-content: center;
  display: flex;
  flex-grow: 1;
  gap: 0px;
  font-size: 20px;
  color: #fcfcfc;
  font-weight: 400;
  text-align: center;
  padding: 26px 37px;
}
.div-4 {
  font-family: Raleway, sans-serif;
  margin: auto 0;
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 77%;
  margin-left: 20px;
}
.div-5 {
  flex-grow: 1;
}

.div-6 {
  gap: 20px;
  display: flex;
}

.column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 74%;
  margin-left: 0px;
}

.div-7 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-size: 24px;
  color: #fcfcfc;
  font-weight: 300;
  text-align: center;
  padding: 49px 60px;
}


.div-8 {
  display: flex;
  width: 798px;
  max-width: 100%;
  gap: 20px;
  justify-content: space-between;
}
.div-9 {
  font-family: Raleway, sans-serif;
  font-weight: 400;
}
.div-10 {
  font-family: Raleway, sans-serif;
  font-weight: 400;
}
.div-11 {
  font-family: Raleway, sans-serif;
}
.div-12 {
  font-family: Raleway, sans-serif;
}
.div-13 {
  font-family: Raleway, sans-serif;
}
.column-4 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 26%;
  margin-left: 20px;
}

.div-14 {
  justify-content: center;
  display: flex;
  flex-grow: 1;
  gap: 20px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  padding: 28px 70px 28px 18px;
}

.div-15 {
  color: #fff;
  font-family: Raleway, sans-serif;
  margin: auto 0;
}
.div-16 {
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: center;
}
.div-17 {
  font-family: Raleway, sans-serif;
  border-radius: 32px;
  background-color: #d96233;
  justify-content: center;
  padding: 23px 24px;
}
